/* HEADER */
.social-icons {
  font-size: 23px;
}

a.nav-link,
.fa-brands,
.fab {
  color: white !important;
}

/* PAGE SIDEBAR & HERO */
.hero-sidebar,
.promo-sidebar {
  position: relative;
}

.main {
  height: 55rem;
  color: white;
}

/* HOME PAGE */
.hero-sidebar {
  position: relative;
  background: url("../img/hero-chef-bg.jpg") 70% / cover no-repeat,
    rgba(255, 255, 255, 0.808);
}

.hero-sidebar::before,
.main-container {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
}

.hero-content,
.carousel-inner::before,
.hero-chef,
.main-container {
  position: absolute;
  z-index: 1;
}

.carousel-inner::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    8deg,
    #cbb698 25.46%,
    #ff000004 50%,
    rgba(0, 0, 0, 0.452) 83.72%
  );
}

.hero-chef > img {
  height: 35vw;
  width: auto;
}

.card {
  position: relative;
  height: 10rem;
}

.card-img {
  object-fit: cover;
  height: 100%;
}

.card-img-overlay {
  background: linear-gradient(
    3deg,
    #0505056b 19.46%,
    #ffffff00 74%,
    rgba(0, 0, 0, 0) 94.72%
  );
}

.event-light {
  background: url("../img/event-light-bg.jpg") 60% / cover no-repeat;
}

.event-dark {
  background: url("../img/event-dark-bg.jpg") 60% / cover no-repeat;
}

/* FOOTER */
.bottom-footer {
  color: white; /* for the meantime */
  background-image: url("../img/footer-image.png");
}
.inline-nav {
  list-style: none;
  padding: 0;
}

.inline-nav li {
  display: inline-block;
  margin-right: 15px;
}

.inline-nav li:not(:last-child)::after {
  content: "|";
  margin-left: 7px;
  color: white;
}

form * p,
h4,
label {
  font-family: var(--text-san-serif);
}

.form-control,
hr {
  color: white !important;
}

input.guests {
  max-width: 80px;
}

.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background-image: none !important;
  padding-right: 1rem !important;
}

.bootstrap-timepicker-widget table td input {
  width: 35px !important;
}

/* PROMO PAGE */
.promo-sidebar {
  background: url("../img/promo-sidebar.jpg") 70% / cover no-repeat,
    rgba(255, 255, 255, 0.808);
}

.main {
  background: url("../img/black-texturedbg.jpg") center / cover no-repeat;
}

.main-container {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    3deg,
    #cbb6986b 19.46%,
    #ffffff3b 74%,
    rgba(0, 0, 0, 0.452) 94.72%
  );
}

.slider-container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  margin-left: -60px;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 calc(40%);
  height: 20rem;
}

.pagination {
  text-align: center;
  margin-top: 16px;
}

.pagination span {
  display: inline-block;
  width: 3rem;
  height: 4px;
  background-color: #333;
  border-radius: 10%;
  cursor: pointer;
  margin: 0 5px;
}

.pagination span.active {
  background-color: white;
}

.hero-slider-card {
  position: relative;
  height: 15rem;
}

.hero-slider-card-img {
  object-fit: cover;
  height: 100%;
}

/* DINING GUIDELINES - TAC - PRIVACY POLICY */
.light-textured-bg img {
  width: 100%;
}

.light-textured-bg {
  padding-top: 8rem;
  background: url("../img/paper-full.jpg"),
    linear-gradient(3deg, #dfae73 19.46%, #ffffff3b 74%, #dfae73 80.72%);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* ---------------------------BS breakpoints---------------------------- */
/* sm */
@media (max-width: 575.98px) {
  /* HOME */
  .hero-chef > img {
    height: auto !important;
    width: 50%;
  }
}

/* md */
@media (max-width: 767.98px) {
  /* PROMO PAGE */
}

/* lg */
@media (max-width: 991.98px) {
  .hero,
  .hero-sidebar,
  .carousel {
    height: 700px;
  }

  /* PROMO PAGE */
  .main {
    height: 160rem !important;
  }

  .slide {
    flex: 0 0 calc(100% - 16px);
    height: 40rem;
  }

  .promo-slider {
    margin-left: 5px !important;
    margin-top: -15rem;
  }

  .slider-container {
    overflow: scroll;
  }

  .main-container {
    background: linear-gradient(
      3deg,
      #0000006b 19.46%,
      #0000003b 74%,
      rgba(0, 0, 0, 0.452) 94.72%
    );
  }
}

/* xl */
@media (max-width: 1199.98px) {
  /* HEADER */
  .contact-details {
    display: none;
  }

  a.nav-link,
  .fa-brands,
  .fab {
    color: black !important;
  }

  path {
    fill: black;
  }

  .promo-sidebar {
    height: 700px;
  }

  nav {
    background-image: url("../img/paper.jpg");
  }

  .carousel-inner::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .hero-sidebar {
    height: 600px;
    width: auto;
  }

  .carousel-item img,
  .carousel {
    height: 700px;
  }

  .hero-chef {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .hero-chef img {
    transform: scale(1.5);
    transform-origin: top center;
    height: 550px;
  }

  /* PROMO PAGE */
  .main {
    height: 30rem;
  }
}
